div * {
    font-family: serif;
}

.navPane {
    background-color: #D9D9D6;
    height: 500px;
}

.navPane h4 {
    margin-top: 10px;
}

.letterPgDetails {
    border: 2px solid#b1b3b3;
    margin-left: 20px;
    padding: 20px;
    font-size: 1em;
}

.results p {
    margin-left: 10px;
}

.results p:nth-child(even) {
    border-left: 2px solid #b1b3b3;
    padding-left: 10px;
    margin-left: 30px;
}

div h4 {
    line-height: 35px;
}
    
.authInfo {
    border-left: 4px solid #E6B965;
    background-color: rgba(230, 185, 101, 0.500);
    padding-left: 10px;
}

.moreInfo {
    border-left: 4px solid #DB352A;
    background-color: rgba(219, 54, 42, 0.500);
    padding-left: 10px;
}

.archInfo {
    border-left: 4px solid #82C08A;
    background-color: rgba(130, 192, 138, 0.500);
    padding-left: 10px;
}