.pagination-toggle {
  margin-bottom: 1rem;
}

.show .pagination-toggle {
  background-color: #580000  !important;
}

.pagination-dropdown {
  width: 40px !important;
  min-width: 55px !important;
  padding: 8px 0px;
}

.pagination-link {
  font-size: .9em;
  width: 100%;
  padding: 2px 15px;
  margin: 0px;
  &:active {
    color: $white;
    background-color: $red; 
  }
}

table {
  &.browse-by {
    th:first-child {
      width: 30%;
    }
  }
}
.active-key {
  text-transform: capitalize;
}
.tab-search {
  input {
    border-radius: 0;
  }
}
#browse-tabs {
  li {
    padding: 0.5em 0.5em;
    border: solid 1px #eee;
  }
  .active {
    border: solid 1px #ccc;
    border-top: $primaryColor solid 3px;
    border-bottom: 1px white solid;
    background-color: white;
    margin-bottom: -0.05em;
  }
}
.dateAndCity {
  &:before {
    content: " (";
  }
  span:nth-child(2) {
    &:before {
      content: "; ";
    }
  }
  &:after {
    content: ")";
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    font-size: 1.75em;
  }
  #browse-tabs {
    display: none;
  }
  .pagination {
    max-width: 100%;
  }
  .browse-by th, .browse-by td {
    padding: 5px 10px;
  }
}
