.home-main {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  height: 500px;
  color: white;
  background-color: #101010;
  border-radius: 0;
  h1 {
    font-size: 5em;
    max-width: 50%;
    line-height: 1em;
  }
  p {
    max-width: 50%;
    font-size: 1.5em;
    color: white;
  }
}

.jumbotron {
  margin-bottom: 0px;
}

.landing-group {
  width: 70rem;
  margin: 0px auto;
  .card {
    margin: 0px .25rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .jumbotron {
    padding: 0px 0px 10px 0px;
    height: auto;
  }
  .home-main {
    & h1 {
      font-size: 3em;
      max-width: 100%;
    }
    & p {
      font-size: 1.2em;
      max-width: 66%;
    }
  }
  .home-tiles{
    & h2 {
      font-size: 1.33em
    }
    & .card {
      margin-bottom: 5px;
    }
  }
}
