.profile-details {
  font-family: $serifBody;
  padding: 2em;
  .spellings {
    margin-bottom: 0.5em;
    font-size: 0.75em;
    margin-top: 0.5em;
  }
  .profile-photo {
    float: right;
    padding: 0 1em 1em 1em;
    max-width: 50%;
  }
  .title {
    font-size: 1.35em;
  }
  .description {
    font-size: 1em;
    padding: 0.5em 0;
  }
}

@media print {
  .profile-details * {
    font-family: 'Times New Roman', Times, serif;
    border: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .profile-details {
    padding: 5%;
  };
}
