.profile-details {
  padding: 1em;
  .spellings {
    margin-bottom: .5em;
    font-size: .75em;
    margin-top: .5em;
  }
  .profile-photo {
    float: right;
    padding: 0 1em 1em 1em;
    max-width: 50%;
  }
}
