.relationship-card {
    & .card-header {
        padding: 10px   !important;
        & h5 {
            margin: 0px;
        }
    }
  & .card-body {
    padding: 0px;
    & div {
      margin-left: 0px;
    }
    & p {
      margin: 20px;
    }
    & .entitiesrelationship-card {
      width: flex;
    }
    & .entitiesrelationship-card-img {
      width: 100px;
    }
    & button {
      margin: 10px !important;
      & * {
        border-radius: 0;
      }
      cursor: pointer;
    }
  }
}
