@import "../globals/variables.scss";

.search-row {
  margin-bottom: 32px;
  & select {
    font-family: $serifBody;
    color: $emoryBlack;
    margin: 0px 5px;
    font-size: 1.25em;
    padding: 0px 4px;
    height: 38px;
    width: 150px;
  }
  & input {
    font-family: $serifBody;
    color: $emoryBlack;
    height: 38px;
    width: 250px;
    font-size: 1.25em;
    margin: 0px 5px;
    padding: 0px 4px;
  }
  & button {
    height: 38px;
    width: 80px; 
    margin-top: -1px;
  }
}

.page-link {
  color: $red;
}