@import "../globals/variables.scss";

.search-row {
  margin-bottom: 32px;
  & select {
    font-family: $serifBody;
    color: $emoryBlack;
    margin: 0px 5px;
    font-size: 1.25em;
    padding: 0px 4px;
    height: 38px;
    width: 150px;
  }
  & input {
    font-family: $serifBody;
    color: $emoryBlack;
    height: 38px;
    width: 250px;
    font-size: 1.25em;
    margin: 0px 5px;
    padding: 0px 4px;
  }
  & button {
    height: 38px;
    width: 80px; 
    margin-top: -1px;
  }
}

.page-link {
  color: $red;
}

@media screen and (max-width: 600px) {
  .search-row {
    & h2 {
      font-size: 1.2em;
    }
    & select {
      width: 160px;
      margin-top: -8px;
      font-size: 1.2em;
      border: 1px solid $darkGray;
    }
    & form input {
      width: 240px;
      border: 1px solid $lightGray;
    }
  }
}