.timeline-container {
  max-width: 1000px;
  padding: 1em 2em;
  margin: 0px auto;
  .year-container {
    .year-title {
      font-size: 4em;
      font-family: $serifHeader;
      font-weight: bold;
      text-align: center;
      width: 100%;
      background-color: $white;
      z-index: 2;
    }
  }
}
.timelineHeaderBlue {
  color: $midBlue;
}

.timelineHeaderYellow {
  color: $yellow;
}

.global,
.personal {
  margin-top: 12px;
  margin-bottom: 12px;
  h4,
  p {
    color: $emoryBlack;
    margin-bottom: 0px;
  }
  h4 {
    padding: 5px;
  }
  p {
    padding: 10px 10px 10px 10px;
  }
}

.global {
  border: 2px solid $yellow;
  & h4 {
    background: $yellow;
  }
  //   dot
  &:before {
    content: "⬤";
    font-size: 14px;
    left: -9px;
    color: $yellow;
    text-shadow: 0px 0px 5px $yellow;
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

// center line
.right-event {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    left: -2px;
    border-left: 3px solid $darkGray;
  }
}

.personal {
  border: 2px solid $midBlue;
  & h4 {
    background-color: $midBlue;
    color: $white;
  }
  //   dot
  &:before {
    content: "⬤";
    font-size: 14px;
    right: -8px;
    color: $midBlue;
    text-shadow: 0px 0px 5px $midBlue;
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

// center line
.left-event {
  text-align: right;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    right: -1px;
    border-right: 3px solid $darkGray;
  }
}

@media only screen and (max-width: 767px) {
  .left-event:before {
    border-right: none;
  }
  .personal {
    text-align: left;
    &:before {
      content: "⬤";
      left: -9px;
      color: $midBlue;
      display: block;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 9;
    }
    &:after {
      content: "";
      font-size: 14px;
      left: -9px;
      color: $midBlue;
      text-shadow: 0px 0px 5px $midBlue;
      position: absolute;
      display: block;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      height: 100%;
      left: -2px;
      border-left: 3px solid $darkGray;
      border-right: none;
    }
  }
}

.timelineTitleRow {
  border-bottom: 1px solid $lightGray;
  margin-bottom: 10px;
}
