.btn {
  &.additional-info {
    border-radius: 50%;
    background-color: $lightGray;
    font-size: 12px;
    color: black;
    padding: 2px;
    height: 20px;
    width: 20px;
    &:hover {
      background-color: $lightGray;
    }
  }
  &.btn-primary {
    background-color: $red;
    border: none;
    border-radius: 0;
    font-family: $serifHeader;
    &:hover {
      background-color: darken($color: $red, $amount: 10) !important;
    }
  }
  &.btn-secondary {
    border-radius: 0;
  }
  &.full-width {
    width: 100%;
  }
}
