$emoryBlue: #012169;
$midBlue: #007DBA;
$emoryBlack: #101820;
$coolBlue: #708090;
$lightGray: #D9D9D6;
$darkGray: #b1b3b3;
$white: #FFFFFF;
$yellow: #E6B965;
$red: #8B0000;
$green: #82C08A;
$softBlack: #050709;
$serifHeader: 'Montserrat', sans-serif;;
$serifBody: 'Montserrat', sans-serif;;

$sidebarWidth: 245px;
$primaryColor: $coolBlue;
$fontColor: $softBlack;
