.searchBoxBg {
    background: $green;
    width: 100%;
    position: absolute;
    left: 0;
}

.searchBox {
    width: 960px;
    margin: 0px auto;
}

.searchLine1 {
    margin: 10px 0px;
}

.filter {
    display: inline;
    margin: 10px 100px 10px 30px;

}

.filterLabel {
    display: inline;
    margin-right: 10px;
}

.searchPara {
    position: absolute;
}